<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>College alumini resigration page</h1>
    <p>perpose of the website to community of aur college all alumini connected with each other and communicate with
        each other and share thier thought and ideas.</p>
    <a href="/new" type="button">click here to Registration</a>
    <hr/>
    <p>to show all the list of students</p>
    <a href="/students">Click here to show</a>
</body>

</html>