<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <h2>List of all the students</h2>
    <ol>
    <% for (student of students) {%>
        <div>
            <li><h4> <a href='/students/<%=student.enroll%>'><%=student.name%></a></h4></li>
        </div>


        <% } %>
    </ol>
</body>
</html>